body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 217, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
    height: 150px;
}

.site-name {
    font-size: 100px;
    margin-left: 10px;
    font-weight: bold;
}

nav {
    margin-left: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

nav ul li {
    margin-right: 30px;
    /* Adds space between list items */
}

nav ul li a {
    text-decoration: none;
    color: cyan;
    font-size: 20px;
    white-space: nowrap;
}

nav ul li a:hover {
    text-decoration:blue;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-left: 15px;
    padding: 10px 15px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: #1E90FF; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
    background-color: #170d97;
    transform: scale(1.1);
}

.user-icon {
    width: 100px;
    height: 100px;
}

.user-section {
    display: flex;
    align-items: center;
}


.user-section button {
    margin-left: 15px;
    padding: 10px 15px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: #1E90FF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-section button:hover {
    background-color: #170d97;
    transform: scale(1.1);
}
