header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
body{
    background-image: url(../images/background\(nk1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
}
/* Header Style */
header {
    background-color: rgb(89, 92, 255, 0.8); /* Professional blue color */
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
    height: 150px;
}

.site-name {
    font-size: 100px;
    margin-left: 10px;
    font-weight: bold;
}

nav {
    margin-left: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    white-space: nowrap;
}

nav ul li a:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-left: 40px;
    padding: 10px 15px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: #33ff00; /* Slightly different blue for buttons */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* Slightly enlarge button */
}
