body {

font-family: Arial, sans-serif;
background-color: #f4f4f4;
background-image: url(../images/loginback\(nk\).jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0;



}
.container {

width: 50%;

margin: 40px auto;

padding: 20px;

background-color: #fef8f8;

border: 1px solid #ddd;

box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

 /* Add this to align it to the right */
 margin: 40px 20px 40px auto;
    position: relative;
    

}
h1 {

text-align: center;
font-weight: bold;

}

label {

display: block;

margin-bottom: 10px;

}
input[type="text"], input[type="username"], input[type="username"] {

width: 90%;

height: 30px;

margin-bottom: 20px;

padding: 10px;

border: 1px solid #ccc;

}
input[type="submit"] {

background-color: #4CAF50;

color: #fff;

padding: 10px 20px;

border: none;

border-radius: 5px;

cursor: pointer;

}

input[type="submit"]:hover {

background-color: #2019af;

}
#error-message {

color: #9f2250; 

margin-top: 10px;

}
