/*IT23538696 RPNS Pathiranage*/
/*Reference youtube channel: Mr. Web designer https://www.youtube.com/@MrWebDesignerAnas*/

/* Common styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #B0D4E3;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #a5a9f2;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
}

/* Form box styling */
.form-box {
    background-color: white;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	margin:auto;
}

h2 {
    text-align: center;
    background-color: #a5a9f2;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 50%;
    padding: 8px;
    background-color: #4CAF50;;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color:  #45a049;
}

.forgot-password {
    display: block;
    text-align: left;
    color: #a5a9f2;
    margin-bottom: 10px;
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #a5a9f2;
    color: white;
}
