*{
    align-items: center;
}
body{

    width: 100%;
    height: auto;
    background-color:rgb(169, 216, 221);
    align-items: center;
    
}
.bg{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 3% 10%;
    border-radius: 30px;
    max-height: 20%;
    color: var(--whiteColor);
    padding-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 15px;
    padding-top: 40px;
    font-family: 'Poppins',sans-serif;


}


.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 3px 1px;
    border-radius: 6px;
    cursor: pointer;
  }
  .delete{
    background-color: #cf0f0f;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 3px 1px;
    border-radius: 6px;
    cursor: pointer;
  }

  .delete a{
    color: #fff;
    text-decoration: none;
  }

  a:hover{
    background-color: #9c0000;
    
  }

  button:hover{
    background-color: #9c0000;
    
  }
  
  


  .save{
    background-color: #014a8e;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 3px 1px;
    border-radius: 6px;
    cursor: pointer;
}
.save a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}


.input-box{
    background-color: aliceblue;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    

}

.msg{
    background-color: rgb(247, 251, 255);
    height: 100px;
    width: 100%;
    border: none;
    background: rgb(240, 244, 244);
    border-radius:10px ;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 10px;
    font-family: 'Poppins',sans-serif;
    
}